.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
}

.default {
  max-width: var(--container-max-width);
}

.narrow {
  max-width: 960px;
}

.wide {
  max-width: 1400px;
}
